.mainCard {
  padding: 10px;
}
.v-dialog {
  overflow-x: hidden;
  max-width: 60% !important;
}
.align {
  margin-bottom: 7px;
}
.headDetails {
  display: flex;
  align-items: center;
}
.vat-input{
  width: 50px;
}
.vat-input{
  text-align: center;
}
.quantity-input{
  max-width: 50px;
}
.quantity-input{
  text-align: center;
}
.vat-selector-input{
  width: 100px;
}
.quantity-selector-input{
  max-width: 120px;
}